body {
    font-family: Arial, sans-serif;
    
  
}

h1 {
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    color: #AB8EE8;
    margin-bottom: 0;
    padding-left: 10px;
   
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    color: #9aa0a6;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 14px;
    line-height: 19px;
  padding-left: 10px;
    padding-top: 6px;
    text-align: left;
    text-transform: capitalize;
}

small {
    color: #AB8EE8;
    font-size: 11px;
   
}

.weather-app {
    max-width: 600px;
    margin: 30px auto; 
    padding: 20px; 
    border: 1px solid #dadde1; 
    border-radius: 8px;

}

#main-temp {
    font-size: 48px;
    font-style: none;
    font-weight: normal;
    color: #AB8EE8;
    line-height: 1;
    position: relative;
    top: 15px;
}

#units {
    position: relative; 
    font-size: 16px;
    top: -10px; 
    color: #9aa0a6;
}
a {
    text-decoration: none;
    color: #9aa0a6;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;

}

.daily-weather {
    font-size: 16px;
    color: black;
    opacity: 0.5;
    
}

.daily-temp {
    font-size: 13px;
    color: #AB8EE8;
} 

.daily-temp-min {
    opacity: 0.5;
    
    
}
